<%- include ("partials/header")%>
<main class="container">
  <form action="/blog" method="post">
    <label for="title">Title:</label><br />
    <input type="text" id="title" name="title" /><br />
    <label for="content">Content:</label><br />
    <textarea id="content" name="content"></textarea><br />
    <button type="submit">Publish</button>
  </form>
</main>
<%- include ("partials/footer")%>
